@import "~codemirror/lib/codemirror.css";
@import "~codemirror/addon/lint/lint.css";
@import "~codemirror/theme/ambiance.css";

.CodeMirror {
   height:      auto;
   font-size:   initial;
}

.CodeMirror-scroll {
  overflow-x:   auto !important;
  overflow-y:   hidden !important;
}
