@import "~react-select/dist/react-select.css";

.hideDisplay {
  display: none;
}

.hideVisibility {
  visibility: hidden;
}

.custom-btn button {
  font-size: 12px;
}

.artifact-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  max-height: 80px;
  margin: 10px 0;
  width: 300px;
}

.select-wrapper {
  width: 70%;
  display: inline-flex;
  margin-bottom: 5px;
}

.select-wrapper > div {
  width: 100%;
  padding-right: 2px;
}

.progressBar {
  height: 35px;
  cursor: pointer;
}

.progressBar > div {
  line-height: 35px;
}

.detail-table {
  width: 100%;
}

.dependencies-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.toolbar-btn {
  margin: auto;
}

.toolbar-btn div > button {
  margin-right: 1%;
  margin-bottom: 1%;
}

.run-table {
  width:100%;
}

.viewer {
  margin-bottom: 20px;
  width: calc(100% - 20px);
}

.viewer > div {
  display: inline-block;
  vertical-align: top;
  overflow-y: hidden;
}

.viewer > .buffer {
  background-color: black;
  width: calc(100% - 20px);
  overflow-x: auto;
  overflow-y: hidden;
  height: 450px;
  padding-left: 7px;
}

.viewer > .buffer > div {
  font-family: monospace;
  color: white;
  margin-bottom: 2px;
  margin-top: 2px;
  min-height: 1em;
  font-size: 0.8em;
}

.viewer > .scrollbar {
  width: 20px;
  background-color: #7f7f7f;
}

.right-panel {
  padding-top: 10px;
  height:70vh;
  overflow-y: auto;
}

.left-panel {
  max-height: 70vh;
  overflow-y: auto;
}

.search-form {
  padding-top: 15px;
  padding-bottom: 15px;
}

button[type="submit"] {
  border: 1px solid #ccc
}

.inspect-btn {
  vertical-align: bottom;
}

.searchLabel {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.label-exception {
  background: #333 none;
}

.label-completed {
  background: #5cb85c none;
}

.label-failed {
  background: #d9534f none;
}

.label-unscheduled {
  background: #777777 none;
}

.label-pending {
  background: #5bc0de none;
}

.label-running {
  background-color: #337ab7;
}

.status-label {
  display: inline;
  padding: .2em .6em .3em !important;
  font-weight: bold;
  line-height: 4em !important;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.table-column-baseline {
  vertical-align: baseline !important;
}

.table-header {
  font-size: 1.2em;
}

.table-wrapper {
  height:70vh;
  overflow-y: auto;
}

.listings-table-labels-column {
  width: 70%;
}

.listings-table-labels-row {
  cursor: pointer;
}

.format-modal-text {
  word-wrap: break-word;
}

.format-modal-body {
  max-height: 75vh;
  overflow-y: auto;
}

.spinner {
  text-align: center;
  margin: 20px;
}


