extends ./lib/layout.jade

block title
  title TaskCluster Tools

block append head
  link(rel="stylesheet", href="/landingpage.css")
  link(rel="shortcut icon", href="#{relPath('lib/assets/favicon.ico')}")
  script(src='/landingpage.bundle.js')
