@import (less) "../../node_modules/react-select/dist/react-select.css";
@import "./terminalView.less";

.select-wrapper {
	width: 100%;
	display: inline-flex;
	margin-bottom: 5px;
}

.select-wrapper > div {
	width: 100%;
	padding-right: 2px;
}
