.detail-table {
	width: 100%;
}

.dependencies-ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}


.toolbar-btn {
	margin: auto;
}

.toolbar-btn div > button {
	margin-right: 1%;
	margin-bottom: 1%;
}