doctype html
html
  head
    block head
      block title
        title TaskCluster Tools
      link(rel="stylesheet", href="/lib/assets/bootstrap/css/bootstrap.css")
      link(rel="stylesheet", href="/lib/assets/bootstrap/css/bootstrap-theme.css")
      link(rel="stylesheet", href="/lib/assets/layout.css")
      link(rel="shortcut icon", href="/lib/assets/favicon.ico")
      script(src="/common.bundle.js")
  body
    div#navbar
    div.container-fluid#container
      block content