@import "./search.less";
@import "./listings.less";
@import "../shared/loading.less";
@import "../shared/confirmAction.less";


.hideDisplay {
  display: none;
}
.hideVisibility {
  visibility: hidden;
}

.artifact-ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

