.search-form {
  padding-top: 15px;
  padding-bottom: 15px;
}

button[type="submit"] {
  border: 1px solid #ccc
}

.input-group-addon, .input-group-btn {
  vertical-align: bottom;
}

.searchLabel {
  font-size: 1.5em;
  margin-bottom: 5px;
}
