extends ../lib/layout.jade

block title
  title Interactive Display

block append head
  link(rel="stylesheet", href="app.css")
  //link(rel='stylesheet', href='include/base.css')
  script(src='include/util.js')
  script(src='app.bundle.js')
