extends ../lib/layout.jade

block title
  title Hooks Manager

block append head
  link(rel="stylesheet", href="app.css")
  link(rel="shortcut icon", href="#{relPath('lib/assets/font-awesome-favicons/favicon-repeat.ico')}")
  script(src='app.bundle.js')
