extends ../lib/layout.jade

block title
  title Task Creator

block append head
  link(rel="stylesheet", href="app.css")
  link(rel="shortcut icon", href="#{relPath('lib/assets/font-awesome-favicons/favicon-pencil-square-o.ico')}")
  script(src='app.bundle.js')
