extends ../lib/layout.jade

block title
  title Task Inspector

block append head
  link(rel="stylesheet", href="app.css")
  link(rel="shortcut icon", href="#{relPath('lib/assets/font-awesome-favicons/favicon-cube.ico')}")
  script(src='app.bundle.js')
