.container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 10px 5px 5px 0;
}

.card {
  margin: 5px 5px 5px 0;
  width: 210px;
}

.card tbody {
  font-size: 0.9em;
}

.typeInput {
  min-width: 300px;
  max-width: 600px;
  margin-top: 10px;
}

.optionsToolbar {
  display: flex;
  margin-left: 0;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.optionsToolbar > div {
  margin-bottom: 5px;
}

.tabular {
  width: 100%;
}

.error {
  margin-top: 20px;
}
