.metadataTable {
  max-width: 324px;
  margin-top: 20px;
  margin-bottom: 0;
}

.metadataTable tr {
  border-top-style: hidden;
}

.searchForm {
  display: flex;
  flex-wrap: wrap;
}

.searchForm > div {
  margin-right: 5px;
  margin-top: 5px;
}

.typeInput {
  flex: 1;
  min-width: 300px;
}

.taskPopover {
  max-width: 600px;
}

.tasksTable > div {
  min-height: 300px;
}
