.metadataTable {
  max-width: 324px;
  margin-bottom: 0;
}

.metadataTable tr {
  border-top-style: hidden;
}

.searchForm {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.searchForm > div {
  margin-right: 5px;
  margin-top: 5px;
}

.typeInput {
  flex: 1;
  min-width: 300px;
}

.taskPopover {
  max-width: 400px;
}

.sourcePopover {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tasksTable > div {
  min-height: 300px;
}

.actionButton {
  margin-top: 5px;
}
